* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #f2d6ff, #e9e4ff);
}

.container {
  max-width: 380px;
  margin: auto;
  padding: 20px;
}

.top-card {
  background: #f6ebff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.card {
  background: #f8f8ff;
  border-radius: 20px;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
}

.dot {
  color: purple;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  background: #eaf6ff;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.btn img {
  width: 22px;
}

input[type="checkbox"] {
  display: none;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: none;
  justify-content: center;
  align-items: center;
}

#pix-open:checked ~ .pix-modal,
#card-open:checked ~ .card-modal {
  display: flex;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
}

.section {
  margin: 15px 0 5px;
  font-weight: bold;
}

.option {
  display: block;
  background: #f3f3ff;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 8px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 10px;
}

.confirm {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #ff00cc, #7a00ff);
  color: white;
  font-size: 16px;
}

.close {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #777;
  cursor: pointer;
}
