body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f3d9ff, #e6ccff);
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.header {
  background: #f7eaff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.btn-main {
  margin: 20px 0;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff00cc, #7a00ff);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.card {
  background: #f9f9ff;
  padding: 20px;
  border-radius: 20px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: #e0f4ff;
  cursor: pointer;
}

.ok {
  color: green;
  font-weight: bold;
}

/* MODAL */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 350px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 350px;
}

.modal button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00cc, #7a00ff);
  color: #fff;
}

.modal input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.cancelar {
  background: #ccc !important;
  color: #000 !important;
}
