* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #f6d7ff, #e6ddff);
  padding: 20px;
}

.app {
  max-width: 420px;
  margin: auto;
}

.header {
  background: #f4ebff;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.user {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
}

.section-title {
  background: linear-gradient(90deg, #ff00cc, #7a00ff);
  color: #fff;
  padding: 14px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 14px;
}

.card {
  background: #f7f5ff;
  padding: 22px;
  border-radius: 18px;
  text-align: center;
}

.value {
  font-size: 34px;
  font-weight: bold;
  margin: 12px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pay-btn {
  background: #e9f7ff;
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.pay-btn img {
  width: 22px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 18px;
}

.modal-box h2 {
  color: #7a00ff;
  margin-bottom: 14px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 14px;
}

.tabela tr {
  cursor: pointer;
}

.tabela tr:hover,
.tabela tr.active {
  background: #f0e6ff;
}

.tabela th, .tabela td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.confirm {
  width: 100%;
  background: linear-gradient(90deg, #ff00cc, #7a00ff);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-bottom: 8px;
}

.cancel {
  width: 100%;
  background: #eee;
  padding: 10px;
  border-radius: 25px;
  border: none;
}