* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #f3d9ff, #e9e0ff);
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.app {
  width: 360px;
}

/* CARD */
.card {
  background: #f7f7ff;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
}

.status {
  color: purple;
  font-weight: bold;
}

h1 {
  margin: 15px 0;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pay-btn {
  background: #e8f7ff;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.pay-btn img {
  width: 24px;
}

/* ESCONDE INPUT */
#pix-toggle {
  display: none;
}

/* PROPOSTA */
.proposal {
  display: none;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

#pix-toggle:checked ~ .proposal {
  display: block;
}

.subtitle {
  margin-top: 15px;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.options label {
  background: #f2f2ff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.confirm {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #ff00cc, #7a00ff);
  color: white;
  font-size: 16px;
}

.cancel {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #888;
  cursor: pointer;
}
